{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Все продукты</h1>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description|truncatewords:20 }}</p>
                    <p class="card-text">Цена: {{ product.price }} руб.</p>
                    <a href="{% url 'catalog:product_detail' product.pk %}?source=all"
                       class="btn btn-primary">
                          Подробнее
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}